<h1>Patients Page</h1>
<br>
<%= link_to "Add Patient", new_patient_path, class: "ui basic blue button" %>
<br>
<br>
<hr />
<tbody> 
  <% @patients.each do |patient| %>
    <tr>
      <br>
        <%= link_to patient.full_name, patient, class: "ui inverted blue button" %>
      <br>
      <td><%= button_to 'Remove', {:controller => :patients, :action => 'destroy', :id => patient.id }, :method => :delete, class:"ui button red inverted" %></td>
      </tr>
  <% end %>
</tbody>