<h1>Patient: </h1>
<h2><%= @patient.full_name %></h2>
<hr />
<h2>Doctors:</h2>
<ul>
  <% @appointments.each do |appt| %>
    <li>
      <%= link_to appt.doctor.name, doctor_path(appt.doctor) %>
    </li>
  <% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Delete Patient', @patient, method: :delete, class: "btn #ff6f00 amber darken-4" %>