<h1>Patient: <i><%= @patient.full_name %></i></h1>
<br />
<%= link_to 'Back to All Patients', patients_path, class: "ui inverted blue button" %>
<hr />
<h2>Doctors:</h2>
  <% @appointments.each do |appt| %>
      <%= link_to appt.doctor.name, doctor_path(appt.doctor), class: "ui blue button" %>
  <% end %>
<br />
<br />
<br />
<%= link_to 'Delete Patient', @patient, method: :delete, class: "ui inverted red button" %>