<h1><i>Doctors</i><i class="user md icon"></i></h1>
<%= link_to "Add a New Doctor", new_doctor_path, class: 'ui inverted small blue button' %>
<br />
<br />
<p>To delete a doctors information, please go to the patients tab.</p>
  <hr />
  <h2><%= @doctors.length <= 0 ? "No Doctors" : "" %></h2>
    <% @doctors.each do |doctor| %>
        <%= link_to doctor.name, doctor_appointments_path(doctor), class: 'ui blue button' %>
        <br />
        <br />
        Number of Patients: <%= doctor.patients.count  %>
        <hr />
      <% end %>
