<h1><i>Doctors</i><i class="user md icon"></i></h1>
<%= link_to "Add a New Doctor", new_doctor_path, class: 'ui inverted small blue button' %>
<br />
<br />
<p>To delete a doctors information, please go to the patients tab.</p>
  <hr />
  <h2><%= @doctors.length <= 0 ? "No Doctors" : "" %></h2>
    <% @doctors.each do |doctor| %>
  <button class="ui basic blue button">
  <i class="icon user"></i>
  <%= link_to doctor.name, doctor_appointments_path(doctor) %>
  </button>
        <br />
        <br />
        <h3>Number of Patients: </h3><%= doctor.patients.count  %>
        <hr />
      <% end %>
